<% provide(:title, (t 'always_resolve.details').to_s.capitalize) %>
<% # Tabella con i dettagli dell'utente' %>
<table class="table">
  <tr>
    <td>
      <%=  gravatar_image_tag(@user.email, :alt => "#{@user.name} #{@user.surname}") %>
    </td>
    <td>
      <table class="table-striped">
        <tr>
          <td><b><%= t 'always_resolve.firstname' %></b></td>
          <td><%= @user.name %></td>
          <td><b><%= t 'always_resolve.secondname' %></b></td>
          <td><%= @user.surname %></td>
        </tr>
        <tr>
          <td><b><%= t 'always_resolve.address' %> 1</b></td>
          <td><%= @user.address1 %></td>
          <td><b><%= t 'always_resolve.address' %> 2</b></td>
          <td><%= @user.address2 %></td>
        </tr>
        <tr>
          <td><b><%= t 'always_resolve.zip' %></b></td>
          <td><%= @user.zip %></td>
          <td><b><%= t 'always_resolve.city' %></b></td>
          <td><%= @user.city %></td>
        </tr>
        <tr>
          <td><b><%= t 'always_resolve.state' %></b></td>
          <td><%= @user.state %></td>
          <td><b><%= t 'always_resolve.country' %></b></td>
          <td><%= @user.country %></td>
        </tr>
        <tr>
          <td><b><%= t 'always_resolve.phone' %></b></td>
          <td><%= @user.telephone %></td>
          <td><b><%= t 'always_resolve.fax' %></b></td>
          <td><%= @user.fax %></td>
        </tr>
        <tr>
          <td><b><%= t 'always_resolve.email' %></b></td>
          <td><%= @user.email %></td>
          <td><b><%= t 'always_resolve.last_login' %></b></td>
          <td><%= @user.last_sign_in_at %></td>
        </tr>
        <tr>
          <td><b><%= t 'always_resolve.cf' %></b></td>
          <td><%= @user.fiscal_code %></td>
          <td><b><%= t 'always_resolve.vat' %></b></td>
          <td><%= @user.vat %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="table">
  <tr>
    <td colspan="2">
      <h2>Servizi</h2>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= render 'services/list' %>
    </td>
  </tr>
</table>
<table class="table">
  <tr>
    <td colspan="2">
      <h2>Domini</h2>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= render 'domains/list' %>
    </td>
  </tr>
</table>
