<% provide(:title, (t 'always_resolve.reset_password_instructions').to_s.capitalize) %>
<p><%= t 'always_resolve.hello' %> <%= @resource.email %>!</p>

<p><%= t 'always_resolve.someone_has_requested_a_link_to_change_your_password_and_you_can_do_this_through_the_link_below' %>.</p>

<p><%= link_to (t 'always_resolve.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t 'always_resolve.if_you_didnt_request_this_please_ignore_this_email' %>.</p>
<p><%= t 'always_resolve.your_password_wont_change_until_you_access_the_link_above_and_create_a_new_one' %>.</p>
